@page "/"


<PageTitle>Index</PageTitle>

<AuthorizeView>
    <Authorized>
        <MainUserInfo></MainUserInfo>
    </Authorized>
    <NotAuthorized>
        <h1>Hello, world!</h1>

        Welcome to your new app, However, you are not logged in.

        <SurveyPrompt Title="How is Blazor working for you?" />
    </NotAuthorized>

</AuthorizeView>

